# MariaDB 설정 (추가 설정 필요)
MARIA_ROOT_PASSWORD=1234
MARIA_DATABASE=capstone_db
MARIA_USER=capstone
MARIA_PASSWORD=capstonepass
MARIA_PORT=3306

# 앱 설정
APP_ENV=local
TRYON_MODE=mock

#jwt 설정
JWT_SECRET=your-super-secret-key-change-this-in-production-32chars
JWT_EXPIRATION=3600000
